## Age Category

In [2]:
CREATE OR REPLACE FUNCTION customers.get_age_category(f_age int)
RETURNS text as $$
BEGIN
    IF f_age < 18 THEN
       RETURN 'Minor';
    ELSE
        RETURN ' Adult';
    END IF;
END;
$$ LANGUAGE plpgsql;

In [4]:
SELECT customers.get_age_category(17)

get_age_category
Minor

# GST calculation ( GST Slab)

In [5]:
CREATE or REPLACE FUNCTION core.calculate_gst(f_price NUMERIC)
RETURNS NUMERIC
as $$
DECLARE
    gst numeric;
BEGIN
    IF f_price < 1000 THEN
        gst:= 5;
    elseif f_price < 5000 THEN
        gst := 10;
    ELSE
        gst:= 12;
    END IF;
    RETURN gst;
END;
$$ LANGUAGE plpgsql;

In [6]:
SELECT core.calculate_gst(1000)

calculate_gst
10

In [9]:
CREATE OR REPLACE FUNCTION sales.check_returning_product(f_order_id int,f_prod_id int,f_qty int)
RETURNS text
as $$
DECLARE
    v_qty int;
BEGIN
    --Getting Ordered Quantity by the customer
    SELECT quantity into v_qty
        FROM sales.order_items 
    WHERE
        order_id = f_order_id
        AND prod_id = f_prod_id;
    
    IF f_qty > v_qty THEN
        RETURN 'Returning Quantity is more than Purchased Quantity !! Return Denied';
    ELSE
        RETURN ' Return Accepted';
    END IF;
END;
$$ LANGUAGE plpgsql;

In [11]:
SELECT sales.check_returning_product(1,63,1)

check_returning_product
Return Accepted

In [8]:
SELECT * 
        FROM sales.order_items 
    WHERE
        order_id = 1
        AND prod_id = 63;

order_item_id,order_id,prod_id,quantity,unit_price,discount
1,1,63,2,56087.00,10.00